  
  .inverted-triangle {
    width: 80% ; 
    height: 100%; 
    max-width: 15rem;
    max-height: 20rem;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    background-color: #356b7a;
    padding: 2%;
  }

  .inner-container{
    width:100%;
    position:relative;
    height: 90%;
    aspect-ratio: 1/1;
  }
  
  .section {
    width: 100%;
    height:15%;
    position: absolute;
    left: 0;
    border-radius:4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .section-1 {
    top: 0;
    clip-path: polygon(2% 0, 98% 0, 90% 100%, 10% 100%);
  }
  
  .section-2 {
    top: 20%;
    clip-path: polygon(12% 0, 88% 0, 80% 100%, 20% 100%);
    margin-top:2%;
  }
  
  .section-3 {
    top: 40%;
    clip-path: polygon(22% 0, 78% 0, 70% 100%, 30% 100%);
    margin-top:4%;
  }
  
  .section-4 {
    top: 60%;
    clip-path: polygon(32% 0, 68% 0, 60% 100%, 40% 100%);
    margin-top:6%;
  }
  
  .section-5 {
    top: 80%;
    clip-path: polygon(42% 0, 58% 0, 50% 100%, 50% 100%);
    margin-top:8%;
  }
  
  /* styles for small devices */
  @media (max-width: 576px) {
    .inverted-triangle {
      padding: 5%;
    }
  }  